html {
  scroll-behavior: smooth;
}

* {
  font-family: "IBM PLEX MONO";
}



a{
  /* text-transform: uppercase; */
  margin: 0px;
}

img {
  border-radius: 6px;
}

body,
h1,
h2,
h3,
h4,
p,
a,
ul,
li,
img,
button {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}


